/* Color scheme shamelessly borrowed from xterm.

   Source of the color scheme: http://en.wikipedia.org/wiki/Xterm
   (More specifically:
   http://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg)
 */

span.black, span.xterm-0 {
    color: #000000;
}
span.red, span.xterm-1 {
    color: #800000;
}
span.green, span.xterm-2 {
    color: #008000;
}
span.yellow, span.xterm-3 {
    color: #808000;
}
span.blue, span.xterm-4 {
    color: #000080;
}
span.magenta, span.xterm-5 {
    color: #800080;
}
span.cyan, span.xterm-6 {
    color: #008080;
}
span.white, span.xterm-7 {
    color: #c0c0c0;
}
span.black.intense, span.xterm-8 {
    color: #808080;
}
span.red.intense, span.xterm-9 {
    color: #ff0000;
}
span.green.intense, span.xterm-10 {
    color: #00ff00;
}
span.yellow.intense, span.xterm-11 {
    color: #ffff00;
}
span.blue.intense, span.xterm-12 {
    color: #0000ff;
}
span.magenta.intense, span.xterm-13 {
    color: #ff00ff;
}
span.cyan.intense, span.xterm-14 {
    color: #00ffff;
}
span.white.intense, span.xterm-15 {
    color: #ffffff;
}
span.xterm-16 {
    color: #ffffff;
}
span.xterm-17 {
    color: #ffffff;
}
span.xterm-18 {
    color: #ffffff;
}
span.xterm-19 {
    color: #ffffff;
}
span.xterm-20 {
    color: #ffffff;
}
span.xterm-21 {
    color: #ffffff;
}
span.xterm-22 {
    color: #ffffff;
}
span.xterm-23 {
    color: #ffffff;
}
span.xterm-24 {
    color: #ffffff;
}
span.xterm-25 {
    color: #ffffff;
}
span.xterm-26 {
    color: #ffffff;
}
span.xterm-27 {
    color: #ffffff;
}
span.xterm-28 {
    color: #ffffff;
}
span.xterm-29 {
    color: #ffffff;
}
span.xterm-30 {
    color: #ffffff;
}
span.xterm-31 {
    color: #ffffff;
}
span.xterm-32 {
    color: #ffffff;
}
span.xterm-33 {
    color: #ffffff;
}
span.xterm-34 {
    color: #ffffff;
}
span.xterm-35 {
    color: #ffffff;
}
span.xterm-36 {
    color: #ffffff;
}
span.xterm-37 {
    color: #ffffff;
}
span.xterm-38 {
    color: #ffffff;
}
span.xterm-39 {
    color: #ffffff;
}
span.xterm-40 {
    color: #ffffff;
}
span.xterm-41 {
    color: #ffffff;
}
span.xterm-42 {
    color: #ffffff;
}
span.xterm-43 {
    color: #ffffff;
}
span.xterm-44 {
    color: #ffffff;
}
span.xterm-45 {
    color: #ffffff;
}
span.xterm-46 {
    color: #ffffff;
}
span.xterm-47 {
    color: #ffffff;
}
span.xterm-48 {
    color: #ffffff;
}
span.xterm-49 {
    color: #ffffff;
}
span.xterm-50 {
    color: #ffffff;
}
span.xterm-51 {
    color: #ffffff;
}
span.xterm-52 {
    color: #ffffff;
}
span.xterm-53 {
    color: #ffffff;
}
span.xterm-54 {
    color: #ffffff;
}
span.xterm-55 {
    color: #ffffff;
}
span.xterm-56 {
    color: #ffffff;
}
span.xterm-57 {
    color: #ffffff;
}
span.xterm-58 {
    color: #ffffff;
}
span.xterm-59 {
    color: #ffffff;
}
span.xterm-60 {
    color: #ffffff;
}
span.xterm-61 {
    color: #ffffff;
}
span.xterm-62 {
    color: #ffffff;
}
span.xterm-63 {
    color: #ffffff;
}
span.xterm-64 {
    color: #ffffff;
}
span.xterm-65 {
    color: #ffffff;
}
span.xterm-66 {
    color: #ffffff;
}
span.xterm-67 {
    color: #ffffff;
}
span.xterm-68 {
    color: #ffffff;
}
span.xterm-69 {
    color: #ffffff;
}
span.xterm-70 {
    color: #ffffff;
}
span.xterm-71 {
    color: #ffffff;
}
span.xterm-72 {
    color: #ffffff;
}
span.xterm-73 {
    color: #ffffff;
}
span.xterm-74 {
    color: #ffffff;
}
span.xterm-75 {
    color: #ffffff;
}
span.xterm-76 {
    color: #ffffff;
}
span.xterm-77 {
    color: #ffffff;
}
span.xterm-78 {
    color: #ffffff;
}
span.xterm-79 {
    color: #ffffff;
}
span.xterm-80 {
    color: #ffffff;
}
span.xterm-81 {
    color: #ffffff;
}
span.xterm-82 {
    color: #ffffff;
}
span.xterm-83 {
    color: #ffffff;
}
span.xterm-84 {
    color: #ffffff;
}
span.xterm-85 {
    color: #ffffff;
}
span.xterm-86 {
    color: #ffffff;
}
span.xterm-87 {
    color: #ffffff;
}
span.xterm-88 {
    color: #ffffff;
}
span.xterm-89 {
    color: #ffffff;
}
span.xterm-90 {
    color: #ffffff;
}
span.xterm-91 {
    color: #ffffff;
}
span.xterm-92 {
    color: #ffffff;
}
span.xterm-93 {
    color: #ffffff;
}
span.xterm-94 {
    color: #ffffff;
}
span.xterm-95 {
    color: #ffffff;
}
span.xterm-96 {
    color: #ffffff;
}
span.xterm-97 {
    color: #ffffff;
}
span.xterm-98 {
    color: #ffffff;
}
span.xterm-99 {
    color: #ffffff;
}
span.xterm-100 {
    color: #ffffff;
}
span.xterm-101 {
    color: #ffffff;
}
span.xterm-102 {
    color: #ffffff;
}
span.xterm-103 {
    color: #ffffff;
}
span.xterm-104 {
    color: #ffffff;
}
span.xterm-105 {
    color: #ffffff;
}
span.xterm-106 {
    color: #ffffff;
}
span.xterm-107 {
    color: #ffffff;
}
span.xterm-108 {
    color: #ffffff;
}
span.xterm-109 {
    color: #ffffff;
}
span.xterm-110 {
    color: #ffffff;
}
span.xterm-111 {
    color: #ffffff;
}
span.xterm-112 {
    color: #ffffff;
}
span.xterm-113 {
    color: #ffffff;
}
span.xterm-114 {
    color: #ffffff;
}
span.xterm-115 {
    color: #ffffff;
}
span.xterm-116 {
    color: #ffffff;
}
span.xterm-117 {
    color: #ffffff;
}
span.xterm-118 {
    color: #ffffff;
}
span.xterm-119 {
    color: #ffffff;
}
span.xterm-120 {
    color: #ffffff;
}
span.xterm-121 {
    color: #ffffff;
}
span.xterm-122 {
    color: #ffffff;
}
span.xterm-123 {
    color: #ffffff;
}
span.xterm-124 {
    color: #ffffff;
}
span.xterm-125 {
    color: #ffffff;
}
span.xterm-126 {
    color: #ffffff;
}
span.xterm-127 {
    color: #ffffff;
}
span.xterm-128 {
    color: #ffffff;
}
span.xterm-129 {
    color: #ffffff;
}
span.xterm-130 {
    color: #ffffff;
}
span.xterm-131 {
    color: #ffffff;
}
span.xterm-132 {
    color: #ffffff;
}
span.xterm-133 {
    color: #ffffff;
}
span.xterm-134 {
    color: #ffffff;
}
span.xterm-135 {
    color: #ffffff;
}
span.xterm-136 {
    color: #ffffff;
}
span.xterm-137 {
    color: #ffffff;
}
span.xterm-138 {
    color: #ffffff;
}
span.xterm-139 {
    color: #ffffff;
}
span.xterm-140 {
    color: #ffffff;
}
span.xterm-141 {
    color: #ffffff;
}
span.xterm-142 {
    color: #ffffff;
}
span.xterm-143 {
    color: #ffffff;
}
span.xterm-144 {
    color: #ffffff;
}
span.xterm-145 {
    color: #ffffff;
}
span.xterm-146 {
    color: #ffffff;
}
span.xterm-147 {
    color: #ffffff;
}
span.xterm-148 {
    color: #ffffff;
}
span.xterm-149 {
    color: #ffffff;
}
span.xterm-150 {
    color: #ffffff;
}
span.xterm-151 {
    color: #ffffff;
}
span.xterm-152 {
    color: #ffffff;
}
span.xterm-153 {
    color: #ffffff;
}
span.xterm-154 {
    color: #ffffff;
}
span.xterm-155 {
    color: #ffffff;
}
span.xterm-156 {
    color: #ffffff;
}
span.xterm-157 {
    color: #ffffff;
}
span.xterm-158 {
    color: #ffffff;
}
span.xterm-159 {
    color: #ffffff;
}
span.xterm-160 {
    color: #ffffff;
}
span.xterm-161 {
    color: #ffffff;
}
span.xterm-162 {
    color: #ffffff;
}
span.xterm-163 {
    color: #ffffff;
}
span.xterm-164 {
    color: #ffffff;
}
span.xterm-165 {
    color: #ffffff;
}
span.xterm-166 {
    color: #ffffff;
}
span.xterm-167 {
    color: #ffffff;
}
span.xterm-168 {
    color: #ffffff;
}
span.xterm-169 {
    color: #ffffff;
}
span.xterm-170 {
    color: #ffffff;
}
span.xterm-171 {
    color: #ffffff;
}
span.xterm-172 {
    color: #ffffff;
}
span.xterm-173 {
    color: #ffffff;
}
span.xterm-174 {
    color: #ffffff;
}
span.xterm-175 {
    color: #ffffff;
}
span.xterm-176 {
    color: #ffffff;
}
span.xterm-177 {
    color: #ffffff;
}
span.xterm-178 {
    color: #ffffff;
}
span.xterm-179 {
    color: #ffffff;
}
span.xterm-180 {
    color: #ffffff;
}
span.xterm-181 {
    color: #ffffff;
}
span.xterm-182 {
    color: #ffffff;
}
span.xterm-183 {
    color: #ffffff;
}
span.xterm-184 {
    color: #ffffff;
}
span.xterm-185 {
    color: #ffffff;
}
span.xterm-186 {
    color: #ffffff;
}
span.xterm-187 {
    color: #ffffff;
}
span.xterm-188 {
    color: #ffffff;
}
span.xterm-189 {
    color: #ffffff;
}
span.xterm-190 {
    color: #ffffff;
}
span.xterm-191 {
    color: #ffffff;
}
span.xterm-192 {
    color: #ffffff;
}
span.xterm-193 {
    color: #ffffff;
}
span.xterm-194 {
    color: #ffffff;
}
span.xterm-195 {
    color: #ffffff;
}
span.xterm-196 {
    color: #ffffff;
}
span.xterm-197 {
    color: #ffffff;
}
span.xterm-198 {
    color: #ffffff;
}
span.xterm-199 {
    color: #ffffff;
}
span.xterm-200 {
    color: #ffffff;
}
span.xterm-201 {
    color: #ffffff;
}
span.xterm-202 {
    color: #ffffff;
}
span.xterm-203 {
    color: #ffffff;
}
span.xterm-204 {
    color: #ffffff;
}
span.xterm-205 {
    color: #ffffff;
}
span.xterm-206 {
    color: #ffffff;
}
span.xterm-207 {
    color: #ffffff;
}
span.xterm-208 {
    color: #ffffff;
}
span.xterm-209 {
    color: #ffffff;
}
span.xterm-210 {
    color: #ffffff;
}
span.xterm-211 {
    color: #ffffff;
}
span.xterm-212 {
    color: #ffffff;
}
span.xterm-213 {
    color: #ffffff;
}
span.xterm-214 {
    color: #ffffff;
}
span.xterm-215 {
    color: #ffffff;
}
span.xterm-216 {
    color: #ffffff;
}
span.xterm-217 {
    color: #ffffff;
}
span.xterm-218 {
    color: #ffffff;
}
span.xterm-219 {
    color: #ffffff;
}
span.xterm-220 {
    color: #ffffff;
}
span.xterm-221 {
    color: #ffffff;
}
span.xterm-222 {
    color: #ffffff;
}
span.xterm-223 {
    color: #ffffff;
}
span.xterm-224 {
    color: #ffffff;
}
span.xterm-225 {
    color: #ffffff;
}
span.xterm-226 {
    color: #ffffff;
}
span.xterm-227 {
    color: #ffffff;
}
span.xterm-228 {
    color: #ffffff;
}
span.xterm-229 {
    color: #ffffff;
}
span.xterm-230 {
    color: #ffffff;
}
span.xterm-231 {
    color: #ffffff;
}
span.xterm-232 {
    color: #ffffff;
}
span.xterm-233 {
    color: #ffffff;
}
span.xterm-234 {
    color: #ffffff;
}
span.xterm-235 {
    color: #ffffff;
}
span.xterm-236 {
    color: #ffffff;
}
span.xterm-237 {
    color: #ffffff;
}
span.xterm-238 {
    color: #ffffff;
}
span.xterm-239 {
    color: #ffffff;
}
span.xterm-240 {
    color: #ffffff;
}
span.xterm-241 {
    color: #ffffff;
}
span.xterm-242 {
    color: #ffffff;
}
span.xterm-243 {
    color: #ffffff;
}
span.xterm-244 {
    color: #ffffff;
}
span.xterm-245 {
    color: #ffffff;
}
span.xterm-246 {
    color: #ffffff;
}
span.xterm-247 {
    color: #ffffff;
}
span.xterm-248 {
    color: #ffffff;
}
span.xterm-249 {
    color: #ffffff;
}
span.xterm-250 {
    color: #ffffff;
}
span.xterm-251 {
    color: #ffffff;
}
span.xterm-252 {
    color: #ffffff;
}
span.xterm-253 {
    color: #ffffff;
}
span.xterm-254 {
    color: #ffffff;
}
span.xterm-255 {
    color: #ffffff;
}
