body {
    margin: 0px;
    /*background-color: black;*/
}
div.menu {
    background-color: #CCCCCC;
    color: black;
    padding: 5px;
}
.ui-menu {
    width: 200px;
}
.ui-menu-item {
    font-family: 'serif';
    font-size: 1.0em;
}
div.menu span {
    margin-right: 10px;
}
div.output {
    background-color: black;
    width: 320px;
    height: 240px;
    overflow-y: scroll;
}
div.input {
    background-color: black;
    width: 320px;
    /*overflow: hidden;*/  /* Since things are being -precisely- resized, hiding overflow will
actually cause minor glitches.  Let it flow---.  Yeah, I know... */
}
div.input > input {
    background-color: black;
    color: white;
    width: 100%;
}
div.output-line {
    font-family: monospace;
    white-space: pre-wrap;
    color: #c0c0c0;  /* ANSI "white", used as "default" coloring */
}
.hidden {
    display: none;
}
